* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(52, 50, 50);
}
.box {
  height: 200px;
  width: 200px;
  background-color: aqua;
  margin: 10px;
}
.min-box {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}

.parent {
  height: 30%;
  width: 30%;
  background-color: rgb(207, 125, 18);
  margin: 10px;
}
.child {
  height: 50%;
  width: 50%;
  background-color: rgb(228, 19, 186);
}

.container {
  height: 30vh;
  width: 30vw;
  background-color: rgb(56, 207, 18);
  margin: 10px;
}
.min-container {
  height: 15vw;
  width: 15vw;
  background-color: rgb(228, 19, 19);
}
